// Complementary Colors
$dark-purple:   #2d2337;
$dark-green:    #22352B;
$dark-brown:    #352B22;
$dark-yellow:   #fe9f18;


$blue:          #5470D4;
$purple:        #6960C4;
$teal:          #2ec4ba;
$green:         #75d685;
$red:           #F58A73;
$yellow:        #FDC872;
$white:         #FFFFFF;
$light-grey:    #EEEEEE;
$charcoal:      #414141;
$dark-grey:     #5B5B5B;
$rock-blue:     #92A4C3;
$grey:          #D4D8DF;
$lavender:      #f6f6f6;

$light:       300;
$regular:     400;
$medium:      500;
$bold:        700;
$extrabold:   900;

$header-height: 6rem;


