<label nh-show="$ctrl.label" class="label" for="{{$ctrl.inputId}}">
    {{$ctrl.label}}
</label>

<input
        ng-if="$ctrl.type == 'text'"
        class="input"
        maxlength="20"
        ng-class="{'error': $ctrl.error}"
        type="{{$ctrl.type}}"
        id="{{$ctrl.inputId}}"
        name="{{$ctrl.inputId}}"
        placeholder="{{$ctrl.placeholder}}"
        ng-model="$ctrl.bind"
        ng-change="$ctrl.resetError()"/>

<input
        ng-if="$ctrl.type == 'number'"
        class="input"
        maxlength="14"
        ng-class="{'error': $ctrl.error}"
        type="{{$ctrl.type}}"
        id="{{$ctrl.inputId}}"
        name="{{$ctrl.inputId}}"
        placeholder="{{$ctrl.placeholder}}"
        ng-model="$ctrl.bind"
        ng-change="$ctrl.resetError()"/>


<div class="error-message-bubble" ng-show="$ctrl.error">{{$ctrl.error}}</div>