{
  "option_settings": [
    {
      "namespace": "aws:elasticbeanstalk:application",
      "option_name": "Application Healthcheck URL",
      "value": "/healthy"
    },
    {
      "namespace": "aws:ec2:vpc",
      "option_name": "Subnets",
      "value": [
        "subnet-66f6612f", "subnet-66f6612f", "subnet-66f6612f", "subnet-66f6612f"
      ]
    },
    {
      "namespace": "aws:ec2:vpc",
      "option_name": "VPCId",
      "value": "vpc-a0332fc7"
    },
    {
      "namespace": "aws:autoscaling:launchconfiguration",
      "option_name": "InstanceType",
      "value": "t2.micro"
    },
    {
      "namespace": "aws:autoscaling:launchconfiguration",
      "option_name": "IamInstanceProfile",
      "value": "eb-deploy"
    },
    {
      "namespace": "aws:autoscaling:launchconfiguration",
      "option_name": "SecurityGroups",
      "value": "sg-2ebc9d52"
    },
    {
      "namespace": "aws:autoscaling:launchconfiguration",
      "option_name": "EC2KeyName",
      "value": "mentorina-eb-qa"
    }
  ]
}
