@import url('https://fonts.googleapis.com/css?family=Bentham|Montserrat|Dancing+Script');

.page-homepage {
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background: linear-gradient(to right, #2d2337 0%,#837587 100%);
    background: white;
    opacity: .6;
  }
  .books-listing {
    padding-bottom: 4rem;
    max-width: 125rem;
    margin: 0 auto;
    position: relative;

    .h1 {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      margin: 5% auto 10px;
      width: 32%;
      font-weight: bold;
      border-style: double;
      border-top: none;
      border-left: none;
      border-right: none;
    }

    .p {
      text-align: center;
      color: $dark-grey;
      font-size: 1.7rem;
      margin: 2%;
      font-family: 'Bentham', serif;
    }

    .homepage-header {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
    }

    .create-book {
      margin-right: -44%;
      margin-top: -2%;
      position: absolute;
      right: 50%;
      font-size: 2rem;
      color: $dark-yellow;
      &:hover {
        color: $dark-purple;
      }
      .icon {
        padding-right: 1rem;
      }
    }
    nh-search-input {
      float: right;
      margin-top: 1rem;
      padding: 1rem 4rem 1rem 5rem;
      font-size: 1.4rem;
      color: $red;
      font-weight: $bold;
      border-radius: 1rem;
    }

    .empty-list {
      text-align: center;
      margin: 6rem auto;

      .image {
        display: block;
        margin: 0 auto;
        width: 40rem;
        height: 40rem;
      }
      .paragraph {
        font-size: 1.8rem;
        text-align: center;
        padding: 2rem;
        color: $dark-purple;
      }
      nh-button {
        width: 15.2rem;
        margin: 0 auto;
      }
    }

    .not-empty-list {
      &::after {
        display: table;
        clear: both;
        content: '';
      }

      .book-list {
        padding: 0;
        margin: 0 10%;
        display: flex;
        flex-wrap: wrap;
        //width: 100%;
        book-box {
          border-top-right-radius: 1rem;
          border-top-left-radius: 1rem;
          width: 28rem;
          height: 19rem;
          margin: 1.3rem;
        }
      }

      .books-pagination {
        text-align: center;
        margin: 5rem auto 4rem;
        .pagination {
          display: inline-block;
          padding: 0;
          margin: 0;
        }
        .pagination > .disabled > a {
          color: $light-grey;
          &:hover {
            background: $white;
          }
        }
        .pagination-sm > li:first-child > a,
        .pagination-sm > li:last-child > a {
          margin: auto 2rem;
          padding: 0.6rem;
          border: 1px solid $dark-grey;
          width: 8rem;
        }
        .pagination-sm > li > a {
          color: $dark-grey;
          background-color: $white;
          padding: 0.8rem 1.6rem;
          font-size: 1.3rem;
          text-decoration: none;
          transition: background-color .3s;
          border: none;
          outline: none;
          &:hover {
            background-color: $lavender;
          }
        }
        .pagination > .active > a {
          background: $dark-grey;
          color: $white;
          &:hover {
            background-color: $dark-grey;
          }
        }
      }
    }
  }
}
