<div class="page-homepage">
    <div class="books-listing">

        <h1 class="h1"> Companies Agenda </h1>
        <div class="homepage-header">
            <p class="p uppercase cursor" ng-click="$ctrl.addNewBook()"><i class="icon icon-icon-add"></i>Add new
                companies</p>
            <nh-search-input id="myLibrarySearch" placeholder="Search" bind="$ctrl.searchTerm"></nh-search-input>
        </div>

        <div class="empty-list" ng-hide="$ctrl.booksList.length">
            <img class="image" ng-src="/images/empty_state.png">
            <p class="paragraph">There are no companies in your agenda yet, please add some.</p>
        </div>

        <div class="not-empty-list" ng-if="$ctrl.booksList.length != 0">
            <div class="book-list">
                <book-box ng-repeat="book in $ctrl.booksList track by $index" book="book"></book-box>
            </div>

            <div class="books-pagination">
                <ul ng-show="$ctrl.noOfBooks > $ctrl.itemsPerPage"
                    uib-pagination
                    total-items="$ctrl.noOfBooks"
                    ng-model="$ctrl.currentPage"
                    items-per-page="$ctrl.itemsPerPage"
                    max-size="8"
                    class="pagination-sm"
                    boundary-link-numbers="true">
                </ul>
            </div>

        </div>
    </div>
</div>
